Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

Add network-scripts label:
  label:
    add:
    - network-scripts

Remove network-scripts label:
  label:
    remove:
    - network-scripts

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add CI label:
  label:
    add:
    - CI

Remove CI label:
  label:
    remove:
    - CI

Translated using Weblate (Greek)
  po/el.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Lithuanian)
  po/lt.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

spec(network-scripts): add dependency on dbus-tools
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.11.9
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Translated using Weblate (Serbian)
  po/sr.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Added translation using Weblate (Brahui)
  po/brh.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Italian)
  po/it.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

functions: fix pid_dir detection in __pids_var_run()
  etc/rc.d/init.d/functions
Due: Remove network-scripts label, Remove documentation label, Remove CI label

functions: do not treat thread IDs as running processes
  etc/rc.d/init.d/functions
Due: Remove network-scripts label, Remove documentation label, Remove CI label

functions: add a message for force-reload in systemctl_redirect()
  etc/rc.d/init.d/functions
Due: Remove network-scripts label, Remove documentation label, Remove CI label

service: reject service and action names containing '/'
  usr/sbin/service
Due: Remove network-scripts label, Remove documentation label, Remove CI label

usernetctl: fix detection of clone configurations
  src/usernetctl.c
Due: Remove network-scripts label, Remove documentation label, Remove CI label

rename_device: recognize quoted and other true values of VLAN=
  src/rename_device.c
Due: Remove network-scripts label, Remove documentation label, Remove CI label

consoletype: don't use uninitialized data
  src/consoletype.c
Due: Remove network-scripts label, Remove documentation label, Remove CI label

netconsole: fix resolution of IPv6-only syslog server names
  usr/libexec/netconsole
Due: Remove network-scripts label, Remove documentation label, Remove CI label

readonly-root: look up the hostname of each address separately
  usr/libexec/readonly-root
Due: Remove network-scripts label, Remove documentation label, Remove CI label

import-state: exit when the state directory can't be entered
  usr/libexec/import-state
Due: Remove network-scripts label, Remove documentation label, Remove CI label

network-functions: don't add the hostname as search domain
  network-scripts/network-functions
Due: Add network-scripts label, Remove documentation label, Remove CI label

network-scripts: replace all dots in device names for sysctl
  network-scripts/init.ipv6-global
  network-scripts/network-functions
Due: Add network-scripts label, Remove documentation label, Remove CI label

network-functions: don't use eval in set_hostname_options()
  network-scripts/network-functions
Due: Add network-scripts label, Remove documentation label, Remove CI label

network-scripts: match bonding ARP targets exactly
  network-scripts/ifdown-eth
  network-scripts/network-functions
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown: evaluate HOTPLUG with is_false like ifup
  network-scripts/ifdown
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-eth: don't match configured addresses as substrings
  network-scripts/ifup-eth
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown-post: pass the METRIC value when restoring ISDN default route
  network-scripts/ifdown-post
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-routes: only skip the invalid route file
  network-scripts/ifup-routes
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-ippp: fix peer address prefix and slave callback delay
  network-scripts/ifup-ippp
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-plusb: quote BROADCAST in test
  network-scripts/ifup-plusb
Due: Add network-scripts label, Remove documentation label, Remove CI label

doc: add contribution policy and agent review guidance
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: Remove network-scripts label, Add documentation label, Remove CI label

ci: get rid of mergify, it's no longer useful
  .mergify.yml
  README.md
Due: Remove network-scripts label, Add documentation label, Add CI label

doc: remove duplicate badge
  README.md
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Russian)
  po/ru.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Path conditions:
  Add network-scripts label: any of: ^network-scripts/
  Remove network-scripts label: not (any of: ^network-scripts/)
  Add documentation label: (((any of: ^doc/) or (any of: ^po/)) or (any of: ^man/)) or (any of: ^README\.md$)
  Remove documentation label: (((not (any of: ^doc/)) and (not (any of: ^po/))) and (not (any of: ^man/))) and (not (any of: ^README\.md$))
  Add CI label: ((any of: ^.github/) or (any of: .mergify.yml)) or (any of: .packit.yml)
  Remove CI label: ((not (any of: ^.github/)) and (not (any of: .mergify.yml))) and (not (any of: .packit.yml))
