Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

Add network-scripts label:
  label:
    add:
    - network-scripts

Remove network-scripts label:
  label:
    remove:
    - network-scripts

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add CI label:
  label:
    add:
    - CI

Remove CI label:
  label:
    remove:
    - CI

ifdown-bnep: fixing shellcheck warnings
  network-scripts/ifdown-bnep
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown-ipv6: fixing shellcheck warnings
  network-scripts/ifdown-ipv6
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-bnep: fixing shellcheck warnings
  network-scripts/ifup-bnep
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-aliases: fixing shellcheck warnings
  network-scripts/ifup-aliases
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-ippp: fixing shellcheck warnings
  network-scripts/ifup-ippp
Due: Add network-scripts label, Remove documentation label, Remove CI label

10.00.18
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ci(Mergify): configuration update
  .mergify.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

dependabot: Monthly updates
  .github/dependabot.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

doc: Use main branch in links
  README.md
Due: Remove network-scripts label, Add documentation label, Remove CI label

ci: remove differential-shellcheck configs
  .github/.diff-shellcheck-exceptions.txt
  .github/.diff.shellcheck-scripts.txt
Due: Remove network-scripts label, Remove documentation label, Add CI label

ci: Update workflows to run on main branch
  .github/workflows/integration_test.yml
  .github/workflows/shellcheck_test.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

service: Exit when `/etc/init.d` is missing
  usr/sbin/service
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.17
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.11.5
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

releng: Convert to rpmautospec
  changelog
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

releng: Enable Packit to handle Fedora updates
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

ci: Setup CodeQL to replace deprecated LGTM
  .github/workflows/codeql.yml
  README.md
Due: Remove network-scripts label, Add documentation label, Add CI label

Add CodeQL workflow
  .github/workflows/codeql.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

doc: fix markdown warnings and update badge
  README.md
Due: Remove network-scripts label, Add documentation label, Remove CI label

ci: Update Differential ShellCheck to `@v4`
  .github/workflows/shellcheck_test.yml
  README.md
Due: Remove network-scripts label, Add documentation label, Add CI label

ci(lint): Add permission `security-events: write`
  .github/workflows/differential-shellcheck.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

ci(lint): Add Differential PyLint GitHub Action
  .github/workflows/differential-pylint.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

doc: update badges
  README.md
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (English (United Kingdom))
  po/en_GB.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (German)
  po/de.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Path conditions:
  Add network-scripts label: any of: ^network-scripts/
  Remove network-scripts label: not (any of: ^network-scripts/)
  Add documentation label: (((any of: ^doc/) or (any of: ^po/)) or (any of: ^man/)) or (any of: ^README\.md$)
  Remove documentation label: (((not (any of: ^doc/)) and (not (any of: ^po/))) and (not (any of: ^man/))) and (not (any of: ^README\.md$))
  Add CI label: ((any of: ^.github/) or (any of: .mergify.yml)) or (any of: .packit.yml)
  Remove CI label: ((not (any of: ^.github/)) and (not (any of: .mergify.yml))) and (not (any of: .packit.yml))
