Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:
  
  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=buildCheck
      - check-success=lint
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase

  # --- --- Labels --- --- #

  - name: Add Fedora label
    conditions:
      - base=main
    actions:
      label:
        add:
          - Fedora
          
  - name: Remove Fedora label
    conditions:
      - base!=main
    actions:
      label:
        remove:
          - Fedora
          
  # --- #
  
  - name: Add RHEL8 label
    conditions:
      - base=rhel8-branch
    actions:
      label:
        add:
          - RHEL8
          
  - name: Remove RHEL8 label
    conditions:
      - base!=rhel8-branch
    actions:
      label:
        remove:
          - RHEL8
          
  # --- #
  
  - name: Add RHEL9 label
    conditions:
      - base=rhel9-branch
    actions:
      label:
        add:
          - RHEL9
          
  - name: Remove RHEL9 label
    conditions:
      - base!=rhel9-branch
    actions:
      label:
        remove:
          - RHEL9
          
    # --- #
  
  - name: Add network-scripts label
    conditions:
      - files~=^network-scripts/
    actions:
      label:
        add:
          - network-scripts

  - name: Remove network-scripts label
    conditions:
      - -files~=^network-scripts/
    actions:
      label:
        remove:
          - network-scripts
          
  # --- #         

  - name: Add documentation label
    conditions:
      - or: 
        - files~=^doc/
        - files~=^po/
        - files~=^man/
        - files=README.md
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
        - -files~=^doc/
        - -files~=^po/
        - -files~=^man/
        - -files=README.md
    actions:
      label:
        remove:
          - documentation
          
  # --- #

  - name: Add CI label
    conditions:
      - or:
          - files~=^.github/
          - files~=.mergify.yml
          - files~=.packit.yml 
    actions:
      label:
        add:
          - CI

  - name: Remove CI label
    conditions:
      - and:
          - -files~=^.github/
          - -files~=.mergify.yml
          - -files~=.packit.yml
    actions:
      label:
        remove:
          - CI

Translated using Weblate (Finnish)
  po/fi.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Hungarian)
  po/hu.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Georgian)
  po/ka.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Czech)
  po/cs.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Punjabi)
  po/pa.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Fix splitting spaces in paths from statetab files
  usr/libexec/readonly-root
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Add -r to while read as per shellcheck
  usr/libexec/readonly-root
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.20
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

fedora: don't build network-scripts rpm in f40+
  Makefile
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ci: trigger copr build on every push to main branch
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

fedora: don't build network-scripts rpm in f40+ (2/2)
  Makefile
  initscripts.spec
  src/Makefile
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ifup-routes: print warning when ADDRESS0 entry is missing
  network-scripts/ifup-routes
Due: Add network-scripts label, Remove documentation label, Remove CI label

10.21
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.11.6
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

rename_device: remove trailing whitespaces
  src/rename_device.c
Due: Remove network-scripts label, Remove documentation label, Remove CI label

rename_device: free path after it is used
  src/rename_device.c
Due: Remove network-scripts label, Remove documentation label, Remove CI label
