Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:
  
  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=buildCheck
      - check-success=shellCheck
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=master
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  # --- --- Labels --- --- #

  - name: Add Fedora label
    conditions:
      - base=master
    actions:
      label:
        add:
          - Fedora
          
  - name: Remove Fedora label
    conditions:
      - base!=master
    actions:
      label:
        remove:
          - Fedora
          
  # --- #
  
  - name: Add RHEL8 label
    conditions:
      - base=rhel8-branch
    actions:
      label:
        add:
          - RHEL8
          
  - name: Remove RHEL8 label
    conditions:
      - base!=rhel8-branch
    actions:
      label:
        remove:
          - RHEL8
          
  # --- #
  
  - name: Add RHEL9 label
    conditions:
      - base=rhel9-branch
    actions:
      label:
        add:
          - RHEL9
          
  - name: Remove RHEL9 label
    conditions:
      - base!=rhel9-branch
    actions:
      label:
        remove:
          - RHEL9
          
    # --- #
  
  - name: Add network-scripts label
    conditions:
      - files~=^network-scripts/
    actions:
      label:
        add:
          - network-scripts

  - name: Remove network-scripts label
    conditions:
      - -files~=^network-scripts/
    actions:
      label:
        remove:
          - network-scripts
          
  # --- #         

  - name: Add documentation label
    conditions:
      - or: 
        - files~=^doc/
        - files~=^po/
        - files~=^man/
        - files=README.md
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
        - -files~=^doc/
        - -files~=^po/
        - -files~=^man/
        - -files=README.md
    actions:
      label:
        remove:
          - documentation
          
  # --- #

  - name: Add CI label
    conditions:
      - or:
          - files~=^.github/
          - files~=.mergify.yml
          - files~=.packit.yml 
    actions:
      label:
        add:
          - CI

  - name: Remove CI label
    conditions:
      - and:
          - -files~=^.github/
          - -files~=.mergify.yml
          - -files~=.packit.yml
    actions:
      label:
        remove:
          - CI

ci(Mergify): configuration update
  .mergify.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

10.11.2
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ci: Use Differential ShellCheck action
  .github/.diff-shellcheck-exceptions.txt
  .github/.diff.shellcheck-scripts.txt
  .github/workflows/check-shell.sh
  .github/workflows/functions.sh
  .github/workflows/shellcheck_test.yml
  README.md
Due: Remove network-scripts label, Add documentation label, Add CI label

Translated using Weblate (Finnish)
  po/fi.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

ci: Use Differential ShellCheck action
  .github/.diff-shellcheck-exceptions.txt
  .github/.diff.shellcheck-scripts.txt
  .github/workflows/shellcheck_test.yml
  README.md
Due: Remove network-scripts label, Add documentation label, Add CI label

ci: Update `.packit.yml` to run on `c8s` `c9s` and `rawhide`
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

Packit test
  README.md
Due: Remove network-scripts label, Add documentation label, Remove CI label

ci: Update `.packit.yml` to run on `c8s`
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

ci: Update `.packit.yml` to run on `c9s`
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

packit: Run copr builds on release as well
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

spec: network-scripts needs to depend on dbus-tools for NetworkManager detection
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.15
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

spec: Move rename_device to subpackage `initscripts-rename-device`
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.16
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Drop unnecessary obsoletes
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.11.3
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

spec: Update initscripts Obsoletes
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

10.11.4
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Translated using Weblate (Czech)
  po/cs.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

rename_device: Remove rename_device functionality (1/2)
  initscripts.spec
  src/Makefile
  src/rename_device.c
  usr/lib/udev/rules.d/60-net.rules
Due: Remove network-scripts label, Remove documentation label, Remove CI label

rename_device: Require rust-ifcfg-devname package as replacement for rename_device (2/2)
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Translated using Weblate (Georgian)
  po/ka.po
Due: Remove network-scripts label, Add documentation label, Remove CI label
