Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

Add network-scripts label:
  label:
    add:
    - network-scripts

Remove network-scripts label:
  label:
    remove:
    - network-scripts

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add CI label:
  label:
    add:
    - CI

Remove CI label:
  label:
    remove:
    - CI

Translated using Weblate (Polish)
  po/pl.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Korean)
  po/ko.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Georgian)
  po/ka.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Greek)
  po/el.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Spanish)
  po/es.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

man: add ifdown.8
  man/ifdown.8
Due: Remove network-scripts label, Add documentation label, Remove CI label

man: add ifdown.8
  initscripts.spec
  man/ifdown.8
Due: Remove network-scripts label, Add documentation label, Remove CI label

10.00.19
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Translated using Weblate (Turkish)
  po/tr.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Indonesian)
  po/id.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (English (United Kingdom))
  po/en_GB.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

spec: add missing license files
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ci: fix issues with missing base commit
  .github/workflows/differential-shellcheck.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

10.27
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Added translation using Weblate (Baluchi)
  po/bal.po
  po/be.po
  po/fa.po
  po/ia.po
  po/km.po
  po/sq.po
  po/tg.po
  po/th.po
  po/ur.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Lithuanian)
  po/lt.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

spec(network-scripts): add dependency on dbus-tools
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Path conditions:
  Add network-scripts label: any of: ^network-scripts/
  Remove network-scripts label: not (any of: ^network-scripts/)
  Add documentation label: (((any of: ^doc/) or (any of: ^po/)) or (any of: ^man/)) or (any of: ^README\.md$)
  Remove documentation label: (((not (any of: ^doc/)) and (not (any of: ^po/))) and (not (any of: ^man/))) and (not (any of: ^README\.md$))
  Add CI label: ((any of: ^.github/) or (any of: .mergify.yml)) or (any of: .packit.yml)
  Remove CI label: ((not (any of: ^.github/)) and (not (any of: .mergify.yml))) and (not (any of: .packit.yml))
