Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

Add network-scripts label:
  label:
    add:
    - network-scripts

Remove network-scripts label:
  label:
    remove:
    - network-scripts

Add documentation label:
  label:
    add:
    - documentation

Remove documentation label:
  label:
    remove:
    - documentation

Add CI label:
  label:
    add:
    - CI

Remove CI label:
  label:
    remove:
    - CI

Translated using Weblate (German)
  po/de.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (English (United Kingdom))
  po/en_GB.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

run ifdown on non-UP interfaces
  etc/rc.d/init.d/network
Due: Remove network-scripts label, Remove documentation label, Remove CI label

migrate to SPDX license
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ci(Mergify): configuration update
  .mergify.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

10.18
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

spec: remove changelog
  changelog
Due: Remove network-scripts label, Remove documentation label, Remove CI label

doc: update translations
  po/initscripts.pot
Due: Remove network-scripts label, Add documentation label, Remove CI label

Revert "releng: Convert to rpmautospec"
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Revert "releng: Enable Packit to handle Fedora updates"
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

spec: add missing changelog entry
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ci: update Packit configuration
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

10.19
  initscripts.spec
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Translated using Weblate (Korean)
  po/ko.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Swedish)
  po/sv.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Ukrainian)
  po/uk.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Chinese (Simplified) (zh_CN))
  po/zh_CN.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Polish)
  po/pl.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Georgian)
  po/ka.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Path conditions:
  Add network-scripts label: any of: ^network-scripts/
  Remove network-scripts label: not (any of: ^network-scripts/)
  Add documentation label: (((any of: ^doc/) or (any of: ^po/)) or (any of: ^man/)) or (any of: ^README\.md$)
  Remove documentation label: (((not (any of: ^doc/)) and (not (any of: ^po/))) and (not (any of: ^man/))) and (not (any of: ^README\.md$))
  Add CI label: ((any of: ^.github/) or (any of: .mergify.yml)) or (any of: .packit.yml)
  Remove CI label: ((not (any of: ^.github/)) and (not (any of: .mergify.yml))) and (not (any of: .packit.yml))
