Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:
  
  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=buildCheck
      - check-success=lint
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=main
    actions:
      merge:
        method: rebase

  # --- --- Labels --- --- #

  - name: Add Fedora label
    conditions:
      - base=main
    actions:
      label:
        add:
          - Fedora
          
  - name: Remove Fedora label
    conditions:
      - base!=main
    actions:
      label:
        remove:
          - Fedora
          
  # --- #
  
  - name: Add RHEL8 label
    conditions:
      - base=rhel8-branch
    actions:
      label:
        add:
          - RHEL8
          
  - name: Remove RHEL8 label
    conditions:
      - base!=rhel8-branch
    actions:
      label:
        remove:
          - RHEL8
          
  # --- #
  
  - name: Add RHEL9 label
    conditions:
      - base=rhel9-branch
    actions:
      label:
        add:
          - RHEL9
          
  - name: Remove RHEL9 label
    conditions:
      - base!=rhel9-branch
    actions:
      label:
        remove:
          - RHEL9
          
    # --- #
  
  - name: Add network-scripts label
    conditions:
      - files~=^network-scripts/
    actions:
      label:
        add:
          - network-scripts

  - name: Remove network-scripts label
    conditions:
      - -files~=^network-scripts/
    actions:
      label:
        remove:
          - network-scripts
          
  # --- #         

  - name: Add documentation label
    conditions:
      - or: 
        - files~=^doc/
        - files~=^po/
        - files~=^man/
        - files=README.md
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
        - -files~=^doc/
        - -files~=^po/
        - -files~=^man/
        - -files=README.md
    actions:
      label:
        remove:
          - documentation
          
  # --- #

  - name: Add CI label
    conditions:
      - or:
          - files~=^.github/
          - files~=.mergify.yml
          - files~=.packit.yml 
    actions:
      label:
        add:
          - CI

  - name: Remove CI label
    conditions:
      - and:
          - -files~=^.github/
          - -files~=.mergify.yml
          - -files~=.packit.yml
    actions:
      label:
        remove:
          - CI

network-functions: Fix a bug in is_nm_handling()
  network-scripts/network-functions
Due: Add network-scripts label, Remove documentation label, Remove CI label

retry arping one more time in ifup-eth when sendto failed
  network-scripts/ifup-eth
Due: Add network-scripts label, Remove documentation label, Remove CI label

fix a shell error
  network-scripts/ifup-eth
Due: Add network-scripts label, Remove documentation label, Remove CI label

Translated using Weblate (French)
  po/fr.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Update ifup-eth
  network-scripts/ifup-eth
Due: Add network-scripts label, Remove documentation label, Remove CI label

ci: add dependency glib-2.0
  .github/workflows/codeql.yml
  .github/workflows/integration_test.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

Translated using Weblate (Spanish)
  po/es.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Finnish)
  po/fi.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Chinese (Traditional) (zh_TW))
  po/zh_TW.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Italian)
  po/it.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Georgian)
  po/ka.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Greek)
  po/el.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

functions: avoid using array indices to get value form string
  etc/rc.d/init.d/functions
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Update etc/rc.d/init.d/functions
  etc/rc.d/init.d/functions
Due: Remove network-scripts label, Remove documentation label, Remove CI label

Translated using Weblate (Korean)
  po/ko.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Portuguese (Brazil))
  po/pt_BR.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Polish)
  po/pl.po
Due: Remove network-scripts label, Add documentation label, Remove CI label
