Repository fedora-sysv/initscripts: changes, and which Mergify rules are due for each by the changed paths.
All: Add network-scripts label, Remove network-scripts label, Add documentation label, Remove documentation label, Add CI label, Remove CI label

.mergify.yml:

# doc: https://docs.mergify.com
---

pull_request_rules:
  
  - name: Automatic merge on approval & CI pass
    conditions:
      - "#approved-reviews-by>=1"
      - "#review-requested=0"
      - "#changes-requested-reviews-by=0"
      - check-success=buildCheck
      - check-success=shellCheck
      - -draft
      - label!=dont-merge
      - -title~=(?i)wip
      - base=master
    actions:
      merge:
        method: rebase
        rebase_fallback: none

  # --- --- Labels --- --- #

  - name: Add Fedora label
    conditions:
      - base=master
    actions:
      label:
        add:
          - Fedora
          
  - name: Remove Fedora label
    conditions:
      - base!=master
    actions:
      label:
        remove:
          - Fedora
          
  # --- #
  
  - name: Add RHEL8 label
    conditions:
      - base=rhel8-branch
    actions:
      label:
        add:
          - RHEL8
          
  - name: Remove RHEL8 label
    conditions:
      - base!=rhel8-branch
    actions:
      label:
        remove:
          - RHEL8
          
  # --- #
  
  - name: Add RHEL9 label
    conditions:
      - base=rhel9-branch
    actions:
      label:
        add:
          - RHEL9
          
  - name: Remove RHEL9 label
    conditions:
      - base!=rhel9-branch
    actions:
      label:
        remove:
          - RHEL9
          
    # --- #
  
  - name: Add network-scripts label
    conditions:
      - files~=^network-scripts/
    actions:
      label:
        add:
          - network-scripts

  - name: Remove network-scripts label
    conditions:
      - -files~=^network-scripts/
    actions:
      label:
        remove:
          - network-scripts
          
  # --- #         

  - name: Add documentation label
    conditions:
      - or: 
        - files~=^doc/
        - files~=^po/
        - files~=^man/
        - files=README.md
    actions:
      label:
        add:
          - documentation

  - name: Remove documentation label
    conditions:
      - and:
        - -files~=^doc/
        - -files~=^po/
        - -files~=^man/
        - -files=README.md
    actions:
      label:
        remove:
          - documentation
          
  # --- #

  - name: Add CI label
    conditions:
      - or:
          - files~=^.github/
          - files~=.mergify.yml
          - files~=.packit.yml 
    actions:
      label:
        add:
          - CI

  - name: Remove CI label
    conditions:
      - and:
          - -files~=^.github/
          - -files~=.mergify.yml
          - -files~=.packit.yml
    actions:
      label:
        remove:
          - CI

Translated using Weblate (Georgian)
  po/ka.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

Translated using Weblate (Estonian)
  po/et.po
Due: Remove network-scripts label, Add documentation label, Remove CI label

ci: Update Github workflows & add Dependabot
  .github/dependabot.yml
  .github/workflows/integration_test.yml
  .github/workflows/shellcheck_test.yml
  .gitignore
Due: Remove network-scripts label, Remove documentation label, Add CI label

ci: Update `packit.yml`
  .packit.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

ifup-sit: fixing shellcheck warnings
  network-scripts/ifup-sit
Due: Add network-scripts label, Remove documentation label, Remove CI label

init.ipv6-global: fixing shellcheck warnings
  network-scripts/init.ipv6-global
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown-ippp: fixing shellcheck warnings
  network-scripts/ifdown-ippp
Due: Add network-scripts label, Remove documentation label, Remove CI label

ci: Update github-token
  .github/workflows/shellcheck_test.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

network-functions-ipv6: fixing shellcheck warnings
  network-scripts/network-functions-ipv6
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-routes: fixing shellcheck warnings
  network-scripts/ifup-routes
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup: fixing shellcheck warnings
  network-scripts/ifup
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-wireless: fixing shellcheck warnings
  network-scripts/ifup-wireless
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown-post: fixing shellcheck warnings
  network-scripts/ifdown-post
Due: Add network-scripts label, Remove documentation label, Remove CI label

ci: Use default github-token
  .github/workflows/shellcheck_test.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

ifup-ipv6: fixing shellcheck warnings
  network-scripts/ifup-ipv6
Due: Add network-scripts label, Remove documentation label, Remove CI label

network: fixing shellcheck warnings
  etc/rc.d/init.d/network
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ifdown-eth: fixing shellcheck warnings
  network-scripts/ifdown-eth
Due: Add network-scripts label, Remove documentation label, Remove CI label

functions: fixing shellcheck warnings
  etc/rc.d/init.d/functions
Due: Remove network-scripts label, Remove documentation label, Remove CI label

ifup-post: fixing shellcheck warnings
  network-scripts/ifup-post
Due: Add network-scripts label, Remove documentation label, Remove CI label

fix ci
  .github/workflows/shellcheck_test.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

ifup-plip: fixing shellcheck warnings
  network-scripts/ifup-plip
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-plusb: fixing shellcheck warnings
  network-scripts/ifup-plusb
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown-sit: fixing shellcheck warnings
  network-scripts/ifdown-sit
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-ctc: fixing shellcheck warnings
  network-scripts/ifup-ctc
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifup-tunnel: fixing shellcheck warnings
  network-scripts/ifup-tunnel
Due: Add network-scripts label, Remove documentation label, Remove CI label

network-functions: fixing shellcheck warnings
  network-scripts/network-functions
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown-routes: fixing shellcheck warnings
  network-scripts/ifdown-routes
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown-tunnel: fixing shellcheck warnings
  network-scripts/ifdown-tunnel
Due: Add network-scripts label, Remove documentation label, Remove CI label

ci: use PAT as github-token
  .github/workflows/shellcheck_test.yml
Due: Remove network-scripts label, Remove documentation label, Add CI label

ifup-eth: fixing shellcheck warnings
  network-scripts/ifup-eth
Due: Add network-scripts label, Remove documentation label, Remove CI label

ifdown: fixing shellcheck warnings
  network-scripts/ifdown
Due: Add network-scripts label, Remove documentation label, Remove CI label
